/* Basic Styling */
body {
  font-family: Arial, sans-serif;
  background: #fafafa;
  margin: 0;
  padding: 0;
}

header, nav, main, footer {
  padding: 20px;
  margin: 10px;
  background: #ffffff;
  border: 1px solid #dddddd;
}

h1, h2 {
  color: #333333;
}

img {
  max-height: 100%;
}

main img {
  width: 200px;
}

nav ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #cccccc;
}

th, td {
  padding: 10px;
  text-align: left;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  grid-area: h;
}

nav {
  grid-area: n;
}

footer {
  grid-area: f;
}

main {
  grid-area: m;
}

#logo {
  grid-area: p;
  width: 60%;
  margin: auto;
}

#content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  /* grid-template-rows: 1fr 5fr 1fr; */
  grid-template-areas: 
    "p h h"
    "n m m"
    "f f f";
}
